#root > header {
    background-color: var(--color-blue);
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 9999;
    width: 70px;
    text-align: center;
}

#root > header > div {
    margin: 10px 0 50px 0;
}

#root > header > ul {
    list-style-type: none;
}

#root > header > ul > li {
    margin: 20px 0;
}